body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	padding: 20px;
	flex-direction: column;
}
.header {
	background-color: rgb(25, 25, 192);
	color: white;
	text-align: center;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	border-radius: 8px 8px 0 0;
}
.container {
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 500px;
}
h4 {
	background-color: #28a745;
	color: white;
	padding: 10px;
	border-radius: 4px;
	text-align: center;
}
input, select {
	width: 100%;
	padding: 8px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}
label {
	font-weight: bold;
}
.checkbox-group {
	margin: 10px 0;
}
.error {
	color: red;
	font-size: 14px;
}
button {
	width: 100%;
	padding: 10px;
	background: #26a042;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
button:hover {
	background: #218838;
}
#submit {
	background-color: #007bff; /* Blue */
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

/* Hover Effect */
#submit:hover {
	background-color: #dfd813; /* Green */
}